/*================================================================
  02. Variables
==================================================================*/
:root {
  --primary-color: #111;
  --secondary-color: #616161;
  --white-color: #fff;
  --accent-color: #d01818;
  --gray-color: #f8f8f8;
  --gray-color2: #dbdbdb;
  --gray-color3: #d8d8d8;
  --primary-font: "Instrument Sans", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}
