/*=================================================================
  05. General
===================================================================*/

/*=====================================  
  Classess for Fonts Size  
 =======================================*/
.cs_fs_10 {
  font-size: 10px;
  line-height: 1em;
}

.cs_fs_12 {
  font-size: 13px;
  line-height: 1em;
}
.cs_fs_13 {
  font-size: 13px;
  line-height: 1em;
}

.cs_fs_14 {
  font-size: 14px;
  line-height: 1em;
}

.cs_fs_16 {
  font-size: 16px;
  line-height: 1.5625em;
}

.cs_fs_18 {
  font-size: 18px;
  line-height: 1.5em;
}

.cs_fs_20 {
  font-size: 20px;
  line-height: 1.5em;
}

.cs_fs_24 {
  font-size: 24px;
  line-height: 1.33333em;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.cs_fs_30 {
  font-size: 30px;
  line-height: 1.16667em;

  @media (max-width: 991px) {
    font-size: 24px;
  }
}
.cs_fs_40 {
  font-size: 40px;
  line-height: 0.875em;

  @media (max-width: 767px) {
    font-size: 30px;
  }
}
.cs_fs_48 {
  font-size: 48px;
  line-height: 1.35417em;

  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.cs_fs_53 {
  font-size: 53px;
  line-height: 1.22642em;

  @media (max-width: 1399px) {
    font-size: 50px;
  }

  @media (max-width: 991px) {
    font-size: 42px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
  }

  @media (max-width: 420px) {
    font-size: 32px;
  }
}

.cs_fs_80 {
  font-size: 80px;
  line-height: 1.125em;

  @media (max-width: 1439px) {
    font-size: 75px;
  }

  @media (max-width: 1399px) {
    font-size: 66px;
  }

  @media (max-width: 991px) {
    font-size: 56px;
  }

  @media (max-width: 767px) {
    font-size: 46px;
  }

  @media (max-width: 420px) {
    font-size: 40px;
  }
}

.cs_fs_200 {
  font-size: 200px;
  line-height: 1em;

  @media (max-width: 1599px) {
    font-size: 190px;
  }

  @media (max-width: 1399px) {
    font-size: 166px;
  }

  @media (max-width: 1199px) {
    font-size: 140px;
  }

  @media (max-width: 991px) {
    font-size: 104px;
  }

  @media (max-width: 767px) {
    font-size: 76px;
  }

  @media (max-width: 575px) {
    font-size: 68px;
  }
}

/*=====================================  
  Classess for Fonts Weight
=======================================*/
.cs_light {
  font-weight: 300;
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_extrabold {
  font-weight: 800;
}

.cs_black {
  font-weight: 900;
}

/*=====================================  
  Classess for Fonts Color
=======================================*/
.cs_accent_color {
  color: var(--accent-color);
}

.cs_primary_color {
  color: var(--primary-color);
}

.cs_white_color {
  color: var(--white-color);
}

.cs_gray_color {
  color: var(--gray-color);
}

.cs_black_color {
  color: var(--black-color);
}
/*=====================================  
  Classess for Fonts Family 
=======================================*/
.cs_primary_font {
  font-family: var(--primary-font);
}

.cs_secondary_font {
  font-family: var(--secondary-font);
}

/*=============================================  
  Classess for Background Size & Colors
===============================================*/
.cs_accent_bg {
  background-color: var(--accent-color);
}

.cs_primary_bg {
  background-color: var(--primary-color);
}

.cs_white_bg {
  background-color: var(--white-color);
}

.cs_gray_bg {
  background-color: var(--gray-color);
}
.cs_gray_bg2 {
  background-color: var(--gray-color2);
}

.cs_black_bg {
  background-color: var(--black-color);
}

.cs_bg_filed {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cs_bg_fixed {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*=============================================  
  Classess for Border Radius
===============================================*/
.cs_radius_5 {
  border-radius: 5px;
}

.cs_radius_10 {
  border-radius: 10px;
}

.cs_radius_20 {
  border-radius: 20px;
}

.cs_radius_30 {
  border-radius: 30px;
}

.cs_radius_50 {
  border-radius: 50px;
}

.cs_radius_100 {
  border-radius: 50%;
}

/*=============================================  
  Classes for Utility Components
===============================================*/
.cs_mp_0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_center_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=============================================  
  Bootstrap Classess 
===============================================*/

.cs_gap_y_40 {
  gap: 40px 0;

  @media (max-width: 991px) {
    gap: 30px 0;
  }
}

.cs_gap_y_30 {
  gap: 30px 0;
}

.cs_gap_y_24 {
  gap: 24px 0;
}
.cs_gap_y_20 {
  gap: 20px 0;
}

/*====================================================  
 Button Components
======================================================*/
.cs_btn_style_1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 18px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  border: 1px solid currentColor;
  letter-spacing: 0.28px;
  font-family: var(--primary-font);
  transition: all 0.3s ease;

  &:hover {
    border-color: var(--accent-color);
    background-color: var(--white-color);
    color: var(--accent-color);

    svg {
      animation: rotation 0.8s;
    }
  }
  &.cs_white_bg {
    &:hover {
      background-color: var(--accent-color);
      border-color: var(--white-color);
      color: var(--white-color);
    }
  }
}

.cs_text_btn_style_1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-bottom: 3px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: var(--accent-color);
    left: 0;
    top: 80%;
    transition: all 0.3s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
    color: var(--accent-color);
    opacity: 0.8;
  }
}

.cs_player_btn_style_2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
  animation: an 0.3s;
  z-index: 2;

  span {
    color: var(--white-color);
    position: relative;
    z-index: 5;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: inherit;
    border: 1px solid var(--white-color);
    inset: 0;
    z-index: 1;
    animation: scale infinite 03s;
  }

  &:hover {
    transform: scale(0.75);
  }
}

.cs_player_btn_style_1 {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    animation: scale 03s infinite;
  }
  letter-spacing: 0.28px;

  &:hover {
    span {
      animation-play-state: paused;
    }
    color: var(--accent-color);
  }
}
/*=============================================
 Social Buttons Component
===============================================*/
.cs_social_btns_style_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  a {
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);

    &:hover {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
  }
}

/*=============================================
 Scroll Top Button
===============================================*/
.cs_scrollup_btn {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 9999;
  opacity: 0;
  transform: translateY(120px) scale(0);
  transition: all 0.4s cubic-bezier(0.68, 0.55, 0.27, 1);

  &.show {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  &:hover {
    color: var(--accent-color);
    background-color: var(--white-color);
  }
}

/*=============================================
 Section Heading Component
===============================================*/
.cs_subtitle_style_1 {
  display: inline-flex;
  align-items: center;
  font-family: var(--primary-font);
  gap: 9px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--accent-color);
  position: relative;

  .cs_lines_right,
  .cs_lines_left {
    width: 60px;
    height: 2px;
    background: var(--accent-color);
    position: relative;
    top: -3px;
    left: 0;

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background: var(--accent-color);
      left: 0;
      top: 4px;
    }
  }

  .cs_lines_left {
    &::after {
      right: 0 !important;
      left: unset;
    }
  }
}

.cs_section_heading_style_2 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px 30px;
  flex-wrap: wrap;
}

/*=============================================  
  Property Searchbox Component
===============================================*/
.cs_car_search_style_1 {
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="text"]::-webkit-calendar-picker-indicator {
    display: none !important;
    -webkit-appearance: none;
  }
}
.cs_car_search_style_1,
.cs_car_search_style_3 {
  width: fit-content;
  padding: 43px 40px;

  .cs_search_form {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    white-space: nowrap;
  }

  @media (max-width: 1199px) {
    .cs_search_form {
      gap: 20px 40px;
    }
    .cs_input_wrapper {
      &::after {
        display: none;
      }
    }
  }
  @media (max-width: 991px) {
    padding: 20px 30px;

    .cs_search_form {
      flex-wrap: wrap;
    }
  }
}

.cs_car_search_style_1,
.cs_car_search_style_2,
.cs_car_search_style_3,
.cs_check_out_form {
  .cs_input_wrapper {
    flex-shrink: 0;
    width: 102px;
    position: relative;

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 500;
      font-family: var(--primary-font);
      color: var(--primary-color);
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: var(--gray-color3);
      right: -50%;
      top: 0;
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  .ts-control {
    height: 25px;
    width: 100%;
    border: none !important;
    outline: none;
    padding: 0 !important;
    background: transparent !important;
    overflow: hidden;

    input {
      width: min(70px, 100%);

      &::placeholder {
        color: var(--primary-color);
      }
    }

    &::after {
      content: "\f078";
      font-family: "Font Awesome 7 Free";
      font-size: 16px;
      font-weight: 900;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: var(--secondary-color);
    }
  }

  .ts-control,
  .ts-control input,
  .ts-dropdown {
    font-size: 16px;
    line-height: 1.5625em !important;
    color: var(--secondary-color);
  }
  .ts-dropdown {
    border: 0;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.2s ease,
      transform 0.3s ease;
    display: block !important;
    pointer-events: none;

    &.active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      border: 1px solid var(--accent-color);
    }

    .option {
      padding: 10px 15px;
      font-size: 16px;
      line-height: 1.5em;
      color: var(--secondary-color);
      transition: all 0.4s ease;

      &.active {
        background-color: var(--gray-color);
      }
    }
  }
}

.cs_car_search_style_2 {
  .cs_input_wrapper {
    width: min(280px, 100%);
    &::after {
      display: none;
    }

    label {
      font-size: 14px;
      font-weight: 600;
      color: var(--primary-color);
      letter-spacing: 0.28px;
      font-family: var(--primary-font);
    }
  }

  .ts-wrapper {
    border: 1px solid var(--gray-color3);
    padding: 17px 20px;
  }
}

.cs_car_search_style_3 {
  padding: 20px;

  .cs_search_form {
    align-items: center;
    gap: 20px 160px;
  }

  .cs_input_wrapper {
    width: 140px;
  }

  @media (max-width: 1199px) {
    .cs_search_form {
      gap: 20px 80px;
    }
  }
}

.cs_check_out_form {
  .cs_input_wrapper {
    width: 100%;

    label {
      color: var(--secondary-color);
      font-size: 16px;
      font-weight: 400;
    }
  }
  .ts-wrapper {
    border: 1px solid var(--gray-color3);
    height: 55px;
    padding: 15px 20px;
  }
}

.cs_date_wrap {
  position: relative;
  padding-left: 20px;
  cursor: pointer;

  svg {
    position: absolute;
    left: 0;
    top: 4px;
  }
}

.cs_date {
  width: auto;
  min-width: unset;
  border: none !important;
  outline: none !important;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  color: var(--secondary-color);
}
.flatpickr-day {
  &:hover {
    background-color: var(--accent-color);
  }

  &.selected {
    background: var(--accent-color);
    border-color: transparent;
    &:hover {
      border-color: var(--primary-color);
      background: var(--accent-color);
    }
  }
  &.today {
    background-color: var(--accent-color);
    border-color: transparent;
    &:hover {
      border-color: var(--primary-color);
      background: var(--accent-color);
      color: var(--white-color);
    }
  }
}
/*=============================================
 Progressbar Component
===============================================*/
.cs_progress {
  .cs_progress_in {
    height: 1px;
    position: relative;
    background-color: var(--primary-color);

    span {
      position: absolute;
      right: 0;
      bottom: calc(100% + 20px);
    }

    &::after {
      content: "";
      width: 1px;
      height: 4px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(-45deg);
      background-color: var(--primary-color);
    }
  }

  &.cs_type_1,
  &.cs_type_2 {
    height: 5px;
    position: relative;
    border-radius: 5px;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.2;
      border-radius: inherit;
      background-color: var(--accent-color);
    }

    .cs_progress_in {
      height: 100%;
      position: relative;
      border-radius: inherit;
      background-color: var(--accent-color);

      span {
        position: absolute;
        right: 0;
        bottom: calc(100% + 20px);
      }

      &::after {
        display: none;
      }
    }
  }

  &.cs_type_2 {
    height: 10px;
  }
}

/*=============================================
 Rating Component
===============================================*/
.cs_rating_percentage,
.cs_rating {
  overflow: hidden;

  &::before {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 7 Free";
    position: absolute;
    top: 0;
    left: 0;
  }
}

.cs_rating {
  max-width: 144px;
  flex: none;
  height: 24px;
  position: relative;
  color: var(--accent-color);
  font-size: 20px;
  letter-spacing: 8px;

  &::before {
    font-weight: 400;
  }
}

.cs_rating_percentage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  &::before {
    font-weight: 900;
  }
}

/*===========================================================  
  Radio checkbox
=============================================================*/

.cs_checkbox {
  display: inline-flex;
  position: relative;
  padding-left: 30px;
  input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    &:checked {
      + label {
        &::before {
          border-color: var(--accent-color);
          background-color: var(--accent-color);
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  a {
    color: var(--accent-color);
    position: relative;
    z-index: 3;
    &:hover {
      text-decoration: underline;
    }
  }
  label {
    margin: 0;
    display: inline-block;
    &::before {
      content: "";
      height: 17px;
      width: 17px;
      border: 1px solid var(--secondary-color);
      position: absolute;
      left: 0;
      top: 7px;
      border-radius: 3px;
    }
    &::after {
      content: "";
      position: absolute;
      height: 10px;
      width: 6px;
      border: 2px solid #fff;
      left: 6px;
      top: 9px;
      border-left: 0;
      border-top: 0;
      transform: rotate(45deg);
      opacity: 0;
    }
  }
}

.cs_radiobox {
  display: flex;
  position: relative;
  padding-left: 30px;
  input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    &:checked {
      + label {
        &::before {
          border-color: var(--accent-color);
          background-color: var(--accent-color);
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  a {
    color: var(--accent-color);
    position: relative;
    z-index: 3;
    &:hover {
      text-decoration: underline;
    }
  }
  label {
    margin: 0;
    display: inline-block;
    img {
      margin-right: 10px;
    }
    &::before {
      content: "";
      height: 20px;
      width: 20px;
      border: 1px solid var(--secondary-color);
      position: absolute;
      left: 0;
      top: 5px;
      border-radius: 50%;
    }
    &::after {
      content: "";
      position: absolute;
      height: 12px;
      width: 12px;
      background-color: var(--accent-color);
      left: 4px;
      top: 9px;
      opacity: 0;
      border-radius: 50%;
    }
  }
}

.cs_payment_method_list {
  list-style: none;
  padding: 0;
  border: 1px solid var(--gray-color3);
  background: var(--gray-color);
  padding: 30px;
  li {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.cs_debit_card_box {
  display: none;
  padding: 11px 0;
}
/*===========================================================  
  Responsive For Common Component & Hide Elements
=============================================================*/

@media (max-width: 991px) {
  br {
    display: none;
  }
}

/*===========================================================  
  Animations
=============================================================*/

// @keyframes pulseBorder {
//   100% {
//     opacity: 0;
//     border-width: 30px;
//     transform: translate(-50%, -50%) scale(1.4);
//   }
// }

@keyframes scale {
  50% {
    transform: scale(0.85);
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes counter-rotation {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
