/*================================================================
  08. Slider
==================================================================*/

/*=======================================================
 Navigation
=========================================================*/
.cs_arrows_style_1 {
  display: flex;
  align-items: center;
  gap: 10px;

  .cs_left_arrow,
  .cs_right_arrow {
    width: 50px;
    height: 50px;
    padding: 10px;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: all 0.4s ease;

    &:hover {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
  }
}

/*=======================================================
 Pagination
=========================================================*/
.swiper-pagination.cs_style_1 {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 5px;
  background-color: transparent;
  bottom: 0px;

  .swiper-pagination-bullet {
    width: 150px;
    height: inherit;
    border-radius: 0;
    opacity: 1;
    font-size: 0;
    background-color: rgba(208, 24, 24, 0.2);
    margin: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
  }
}
.swiper-pagination.cs_style_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
    opacity: 0.2;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
    opacity: 1;
  }
}
