/*================================================================
  08. Slider
==================================================================*/

// .cs_overflow_visible {
//   .swiper {
//     overflow: visible;
//     position: initial;
//   }

//   .swiper-slide {
//     visibility: hidden;
//     opacity: 0;
//   }

//   .swiper-slide-active,
//   .swiper-slide-next {
//     visibility: visible;
//     opacity: 1;
//   }

//   @media (max-width:991px) {
//     .swiper {
//       overflow: hidden;
//       position: relative;
//     }

//     .swiper-slide {
//       visibility: visible;
//       opacity: 1;
//     }
//   }
// }

// .cs_slider_style_1 {
//   padding-top: 65px;
//   width: min(100%, 1760px);
//   margin: 0 auto;

//   .swiper-slide {
//     height: auto;
//   }
// }

// .cs_align_center {
//   .swiper-wrapper {
//     align-items: center;
//   }
// }

/*=======================================================
 Navigation
=========================================================*/
.cs_arrows_style_1 {
  display: flex;
  align-items: center;
  gap: 10px;

  .cs_left_arrow,
  .cs_right_arrow {
    width: 50px;
    height: 50px;
    padding: 10px;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: all 0.4s ease;

    &:hover {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
  }
}

// .cs_swiper_arrow_style_2 {
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translateY(-50%);

//   .slider-next,
//   .slider-prev {
//     &:hover {
//       color: var(--accent-color);
//     }
//   }

//   @media (max-width: 450px) {
//     position: initial;
//     transform: translateY(0);
//     margin-top: 20px;
//     justify-content: center;
//   }
// }

/*=======================================================
 Pagination
=========================================================*/
.swiper-pagination.cs_style_1 {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 5px;
  background-color: transparent;
  bottom: 0px;

  .swiper-pagination-bullet {
    width: 150px;
    height: inherit;
    border-radius: 0;
    opacity: 1;
    font-size: 0;
    background-color: rgba(208, 24, 24, 0.2);
    margin: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
  }
}
.swiper-pagination.cs_style_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
    opacity: 0.2;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
    opacity: 1;
  }
}
/*=======================================================
 Horizontal Slider
=========================================================*/
.cs_horizontal_slider {
  padding: 30px 0;
  overflow: hidden;
  border-bottom: 10px solid var(--accent-color);

  .cs_sliding_content {
    text-wrap: nowrap;
    animation: scrollingAnimation 60s linear infinite;
  }

  .cs_slider_inner {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
    margin: 0 20px;
  }

  &:hover {
    .cs_sliding_content {
      animation-play-state: paused;
    }
  }

  &.cs_type_1 {
    padding: 24px 0;
    border: 0;

    .cs_sliding_content {
      display: flex;
      flex: none;
      gap: 20px;
      margin: 0 10px;
    }
  }

  &.cs_type_2 {
    padding: 0;
    border: 0;

    .cs_sliding_content {
      display: flex;
      flex: none;
      gap: 24px;
      margin: 0 12px;
    }
  }

  &.cs_type_3,
  &.cs_type_4 {
    width: calc(100% + 100px);
    left: -50px;
    top: 190px;
    padding: 50px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    transform: rotate(10deg);

    .cs_sliding_content {
      display: flex;
      flex: none;
      gap: 80px;
      margin: 0 40px;
    }
  }

  &.cs_type_3 {
    .cs_sliding_content {
      animation-direction: alternate-reverse;
    }
  }

  &.cs_type_4 {
    top: initial;
    bottom: 180px;
    transform: rotate(-10deg);
  }

  &.cs_type_5 {
    border: 0;
    padding: 0;

    .cs_sliding_content {
      display: flex;
      gap: 40px;
      margin: 0 20px;
    }
  }

  &.cs_type_6 {
    border: 0;
    padding: 0;

    .cs_sliding_content {
      display: flex;
      gap: 0;
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0d0d0d 100%);
    }
  }

  @media (max-width: 991px) {
    &.cs_type_3 {
      top: 100px;
      padding: 20px 0;
    }

    &.cs_type_4 {
      bottom: 100px;
      padding: 20px 0;
    }
  }
}

.cs_logo_slider_container {
  height: 517px;
  position: relative;

  @media (max-width: 991px) {
    height: 300px;
  }
}

/*==========================================
 Animations
============================================*/
@keyframes scrollingAnimation {
  100% {
    transform: translateX(-100%);
  }
}
