/*===============================================================
 13. About
=================================================================*/

.cs_about_style_1,
.cs_about_style_2 {
  .cs_about_list {
    list-style: none;
    padding: 0;

    li {
      padding-left: 34px;
      position: relative;

      .cs_list_icon {
        position: absolute;
        left: 0;
      }

      &:not(:last-child) {
        padding-bottom: 16px;
      }
    }
  }

  .cs_about_img_wrapper {
    display: grid;
    grid-template-columns: 42fr 58fr;
    gap: 24px;
    align-items: start;
    height: 100%;
  }

  .cs_about_img_left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    .cs_img_bottom {
      padding-left: 16%;
    }
  }
  .cs_about_img_right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cs_buttons {
    display: flex;
    align-items: center;
    gap: 9px;
    flex-wrap: wrap;
  }

  .cs_about_stat {
    width: min(312px, 100%);
    padding: 22px 40px;
    right: 0;
    bottom: 60px;
  }

  .cs_about_img_left {
    color: red;
  }

  @media (max-width: 1199px) {
    .cs_about_img_left {
      .cs_img_bottom {
        padding-left: 0;
      }
    }
  }

  @media (max-width: 575px) {
    .cs_about_img_wrapper {
      grid-template-columns: 1fr;
    }
    .cs_about_stat {
      width: 100%;
    }
  }
}

.cs_about_style_2 {
  .cs_about_right {
    padding-left: 40px;

    .cs_phone_number {
      position: relative;
      padding-left: 60px;

      .cs_phone_icon {
        width: 50px;
        height: 50px;
        background-color: var(--gray-color);
        position: absolute;
        left: 0;
        top: 0;
      }

      a {
        &:hover {
          color: var(--accent-color);
        }
      }
    }

    .cs_about_img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .cs_about_left {
    padding-right: 11%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  @media (max-width: 991px) {
    .cs_about_right {
      padding-left: 0px;
    }
    .cs_about_left {
      padding-right: 0;
    }
  }
}

.cs_about_style_3 {
  .cs_about_img {
    position: relative;
    margin-left: calc(-30vw + 50%);
    // width: 50vw;
    max-width: none;
    img {
      width: 100%;
    }

    .cs_player_btn_style_1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--white-color);
      span {
        border: none;
      }
    }
  }

  .cs_right {
    padding-left: 6%;
  }

  .cs_about_list {
    list-style: none;
    padding: 0;

    li {
      padding-left: 34px;
      position: relative;

      .cs_list_icon {
        position: absolute;
        left: 0;
      }

      &:not(:last-child) {
        padding-bottom: 30px;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_about_img {
      margin-left: calc(-37vw + 50%);
    }
    .cs_about_list {
      li {
        &:not(:last-child) {
          padding-bottom: 15px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .cs_about_img {
      margin-left: auto;
    }
  }
}
