/*===============================================================
  16. Iconbox
=================================================================*/
.cs_iconbox_style_1 {
  position: relative;
  padding-left: 84px;

  .cs_icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.cs_icon_wrapper_style_1 {
  @media (max-width: 1199px) {
    padding-left: 25px;
  }
  @media (max-width: 991px) {
    padding-left: 0;
  }
}
