.cs_layout_style_1 {
  .cs_left {
    display: flex;
    flex-direction: column;
    gap: 24px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .cs_right {
    padding-bottom: 30%;
    .cs_contact {
      .cs_phone,
      .cs_email {
        display: flex;
        gap: 11px;
        align-items: center;
        color: var(--primary-color);

        i {
          color: var(--accent-color);
        }
      }
    }
    .cs_img {
      border: 1px solid var(--primary-color);

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .cs_shape_1 {
      position: absolute;
      bottom: 10%;
      right: 50px;

      > img {
        animation: rotation 9s linear infinite;
      }

      .cs_star {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // animation: counter-rotation 9s linear infinite;
      }

      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

.cs_layout_style_2 {
  .cs_left {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cs_img_side {
    padding-right: 13%;
  }
  .cs_right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;

    .cs_img {
      height: 63%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .cs_experience_card {
    padding: 41px 34px;
  }
}

/*================================================
  Video Block
==================================================*/

.cs_video_block_1 {
  padding: 150px 0 300px;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
  }
}

/*================================================
  CTA SECTION
==================================================*/

.cs_cta_style_1 {
  padding: 120px 0;
}

.cs_cta_style_2 {
  padding: 190px 0 166px;
  position: relative;

  .cs_cta_content {
    width: min(725px, 100%);
    position: relative;
    z-index: 2;

    .cs_btn_style_1 {
      border-color: transparent;

      &:hover {
        border-color: currentColor;
      }
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
  }
}

/*================================================
  Newsletter Section
==================================================*/

.cs_newsletter_style_2,
.cs_newsletter_style_3 {
  width: min(424px, 50%);
  background-color: var(--gray-color);
  padding: 40px;
  position: absolute;
  right: 0;
  bottom: -166px;
  z-index: 2;

  input {
    width: 100%;
    padding: 14px 20px;
    border: 1px solid var(--gray-color2);
    outline: none;
    margin-bottom: 20px;
  }

  textarea {
    width: 100%;
    outline: none;
    border: 1px solid var(--gray-color2);
    padding: 20px;
    margin-bottom: 20px;
  }
}

.cs_newsletter_style_3 {
  position: initial;
  width: 100%;
  padding: 0;

  input {
    background-color: transparent;
  }
}

.cs_newsletter_wrapper_style_1 {
  padding: 30px 20px;

  .cs_dealer_card {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .cs_dealer_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
  }
  .cs_btns {
    padding: 0 10px;
  }
}

.cs_auth_tabs,
.cs_auth_tab_links {
  display: flex;
  align-items: center;
  gap: 16px;

  li.active,
  li:hover {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
  }
}

.cs_sing_in_form {
  width: min(100%, 875px);
  margin: 0 auto;
  .cs_form_group {
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
      font-size: 18px;
      font-weight: 500;
      font-family: var(--primary-font);
      color: var(--primary-color);
    }
    input {
      padding: 15px;
      height: 55px;
      width: 100%;
      outline: none;
      border: 1px solid var(--gray-color2);
    }
  }

  .cs_password_group {
    .cs_input_wrapper {
      button {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .cs_login_meta {
    display: flex;
    gap: 10px 20px;
    justify-content: space-between;
    flex-wrap: wrap;

    .cs_forgot_link {
      border-bottom: 1px solid currentColor;

      &:hover {
        color: var(--accent-color);
      }
    }

    .form-check-input {
      border-radius: 0;
      border-color: var(--accent-color);
      width: 15px;
      height: 15px;
      box-shadow: none;

      &:checked {
        background-color: var(--accent-color);
      }
    }
  }

  .cs_btn_style_1 {
    padding: 20px 30px;
  }

  .cs_social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    span {
      width: 200px;
      height: 80px;
      border-radius: 40px;
      border: 1px solid var(--gray-color2);
    }
  }

  .cs_terms_text {
    a {
      color: var(--primary-color);
      font-weight: 600;

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
/*===========================================================
 why choose
=============================================================*/
.cs_why_choose_us {
  padding: 120px 0;

  .cs_why_choose_us_details {
    width: min(655px, 100%);
    margin-left: auto;

    .cs_subtitle_style_1 {
      color: var(--white-color);

      .cs_lines {
        span {
          background: currentColor;
        }
      }
    }
  }
}

/*===========================================================
  Pagination Box
=============================================================*/
.cs_pagination_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (max-width: 991px) {
    gap: 15px;
  }

  @media (max-width: 400px) {
    gap: 5px;
  }

  .cs_pagination_arrow,
  .cs_pagination_item {
    border-radius: 50%;
    background: transparent;
    height: 40px;
    width: 40px;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);

    @media (max-width: 400px) {
      height: 30px;
      width: 30px;
    }

    &.active {
      background-color: var(--accent-color);
      color: var(--white-color);
      pointer-events: none;
    }
  }

  .cs_pagination_item,
  .cs_pagination_arrow {
    &:hover {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }
}

/*===========================================================
  Table
=============================================================*/

.cs_spec_cell_style_1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-color);
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .cs_spec_item {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;

    &:last-child {
      margin-left: auto;
    }
  }
}

.cs_car_features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  p {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

/*===========================================================
  Layer Image box
=============================================================*/

.cs_layer_img_box {
  position: relative;
  padding-right: 16%;
  padding-bottom: 18%;

  .cs_layer_img_2 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 32%;

    img {
      border: 5px solid var(--white-color);
    }
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

/*===========================================================
  Service Details
=============================================================*/
.cs_service_list_style_1 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 50px;

  li {
    position: relative;
    padding-left: 34px;

    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
.cs_service_thumbnails {
  display: flex;
  gap: 24px;
  align-items: center;
}

.cs_service_banner,
.cs_service_thumbnails {
  img {
    width: 100%;
    object-fit: cover;
  }
}
