/*===============================================================
  20. Tabs
=================================================================*/
.cs_tab_links.cs_style_1 {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  a {
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
    display: block;
    padding: 13px 30px;
  }

  li.active,
  li:hover {
    a {
      background-color: var(--accent-color);
      color: var(--white-color);
      border-color: var(--accent-color);
    }
  }

  // @media (max-width: 767px) {
  //   gap: 15px;

  //   li {
  //     padding: 6px 15px;
  //     border: 1px solid var(--accent-color);

  //     &::before {
  //       display: none;
  //     }

  //     &.active,
  //     &:hover {
  //       color: var(--white-color);
  //       background-color: var(--accent-color);
  //     }
  //   }
  // }
}

.cs_tab_links.cs_style_2 {
  gap: 20px 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--gray-color2);

  li.active,
  li:hover {
    a {
      border-bottom: 2px solid var(--accent-color);
      padding-bottom: 22px;
    }
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;

    li.active,
    li:hover {
      a {
        padding-bottom: 10px;
      }
    }
  }
}
.cs_tab_links.cs_style_3 {
  li {
    display: block;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  li.active,
  li:hover {
    a {
      color: var(--accent-color);
    }
  }
}
/*===================================================
 Tab Content
=====================================================*/
.cs_tabs {
  .cs_tab {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;

    &.active {
      position: initial;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}
