/*========================================================
  22. Team and Team Details
==========================================================*/
.cs_team_style_1 {
  padding-bottom: 65px;

  .cs_team_thumbnail {
    min-height: 480px;
    padding: 0 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      opacity: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #111 100%);
      transition: opacity 0.3s ease;
    }
  }

  .cs_team_info {
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    overflow: hidden;
    z-index: 5;

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--accent-color);
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      opacity: 0;
      transition: all 0.3s ease;
    }
  }

  .cs_social_icons_style_2 {
    display: flex;
    gap: 10px 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 0;
    transition: all 0.3s ease;

    .cs_social_icon {
      border-color: var(--white-color);
      color: var(--white-color);
    }

    a:hover {
      border-color: var(--accent-color);
      background-color: transparent;
      color: var(--accent-color);
    }
  }
  .cs_team_title {
    &:hover {
      color: var(--accent-color);
    }
  }
  &:hover {
    .cs_team_thumbnail {
      &::after {
        opacity: 1;
      }
    }
    .cs_social_icons_style_2 {
      opacity: 1;
    }
    .cs_team_info {
      &::after {
        transform: translate(0);
        opacity: 1;
      }
    }
  }
}

.cs_team_style_2 {
  .cs_social_icons_style_2 {
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    z-index: 1;
    transition: all 0.3s ease;

    .cs_social_icon {
      color: var(--white-color);
      border-color: var(--white-color);
      &:hover {
        background-color: var(--accent-color);
      }
    }
  }

  .cs_team_thumbnail {
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #d01818 100%);
      opacity: 0;
    }
  }

  .cs_team_info {
    padding: 20px 20px 0px 20px;
  }

  .cs_team_title {
    &:hover {
      color: var(--accent-color);
    }
  }

  &:hover {
    .cs_social_icons_style_2 {
      bottom: 30px;
    }
    .cs_team_thumbnail {
      &::after {
        opacity: 1;
      }
    }
  }

  @media (max-width: 1199px) {
    .cs_team_info {
      padding: 20px 12px 0px 12px;
    }
  }
}

.cs_single_team_style_1 {
  .cs_single_team_img {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .cs_contact {
    display: block;
    position: relative;
    padding-left: 46px;

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
    }
    &:not(:last-child) {
      &:hover {
        color: var(--accent-color);
      }
    }
  }

  .cs_social_icons {
    gap: 10px;

    .cs_social_icon {
      border-color: var(--secondary-color);
      color: var(--accent-color);
      width: 40px;
      height: 40px;

      &:hover {
        border-color: var(--accent-color);
        background-color: var(--accent-color);
        color: var(--white-color);
      }
    }
  }
}
